/*自己封装工具类 start*/
.clearfix {
  zoom: 1;
}

.clearfix:after {
	content: ".";
	width: 0;
	height: 0;
	visibility: hidden;
	display: block;
	clear: both;
	overflow:hidden;
}

.fl {
  float: left
}

.fr {
  float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.content{
	width: 1200px;
	margin: 0 auto;
}
/*自己封装工具类 end*/
